<div class="wrapper">
  <div class="content">
    <div class="content__container">
      <div class="content__body">
        <h2 class="content__title">Enter password</h2>
        <form [formGroup]="formGoup" class="content__form">
          <password-input
            formControlName="password"
            [errors]="formGoup.controls['password'].errors"
            [invalidAndDirty]="
              formGoup.controls['password'].invalid &&
              formGoup.controls['password'].dirty
            "
          >
          </password-input>
        </form>
      </div>
    </div>
  </div>
</div>
