.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

[class*="__container"] {
  max-width: 550px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  flex: 1 1 auto;
}

.content__body {
  display: flex;
  align-content: center;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 7px;
  padding: 30px 20px;
}

.content__title {
  flex: 1 1 auto;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.content__form {
  flex: 1 1 100%;
}

@media (max-width: 500px) {
  .content__body {
    padding: 15px 10px;
    gap: 10px;
  }
}
