<div class="content__input input-content">
  <input
    [type]="inputType"
    class="input-content__field"
    placeholder="Password"
    [value]="value"
    (input)="onInput($event)"
  />

  <ul *ngIf="invalidAndDirty" class="input-content__validation validation">
    <li
      class="validation__item _icon-cross"
      *ngFor="let er of errors | keyvalue"
    >
      {{ errorsMessages[er.key] }}
    </li>
  </ul>

  <div
    class="input-content__eye"
    role="button"
    [ngClass]="{
      '_icon-eye': passwordVisibility,
      '_icon-eye-blocked': !passwordVisibility
    }"
    (click)="passwordVisibilityHandler()"
  ></div>
</div>
<app-strenth-box [isValid]="!invalidAndDirty" [passwordLevel]="formService.passwordLevel"></app-strenth-box>
