.input-content {
  flex: 1 1 100%;
  position: relative;
}

.input-content__eye {
  position: absolute;
  top: 25px;
  right: 5%;
  transform: translateY(-50%);
  font-size: 20px;
}

.input-content__field {
  border: 2px solid #f3f4f9;
  padding: 10px 50px 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  width: 100%;
}

.input-content__field:focus {
  outline: none;
  border-color: #2f96ef;
}

.input-content__field::placeholder {
  color: #8d9eb0;
}

.validation {
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 5px;
}

.validation__item {
  flex: 1 1 100%;
  color: red;
  font-size: 12px;
}

.validation__item::before {
  font-size: 10px;
}
